---
layout: page
title: "Programa Central"
background: '/img/bg-index.jpg'
pagination: 
  enabled: true
  sort_field: 'eventdate'
  sort_reverse: true
  categories: central
---

{% for post in paginator.posts %}

{% assign prev_i = forloop.index0 | minus: 1 %}
{% assign prev_post = paginator.posts[prev_i] %}
{% assign current_post_year = post.eventdate | date: "%Y" %}

{% if prev_i >= 0 %}
  {% if prev_post %}
    {% assign prev_post_year = prev_post.eventdate | date: "%Y" %}
    {% if prev_post_year > current_post_year %}
      <h2 class="year-separator">{{ current_post_year }}</h2>
      <hr>
    {% endif %}
  {% endif %}
{% endif %}

{% if prev_i == -1 %}
  <hr>
  <h2 class="year-separator">{{ current_post_year }}</h2>
  <hr>
{% endif %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    {% if post.placeName %}
      {{ post.placeName }}
    {% endif %}
    - {% include translated_date.html date=post.eventdate format="%H:%M, %d de %B, %Y" lang="es" %}
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Actividades<span class="d-none d-md-inline"> Anteriores</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Actividades<span
      class="d-none d-md-inline"> Siguientes</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}

<div class="center text-center">
    <a class="btn btn-primary align-content-center" href="{{"/localidades" | relative_url }}">Programa por
      Localidades</a>
  </div>